<launch>

  <arg name="force_python" default="true" />
  <arg name="nao_ip" default="$(optenv NAO_IP 192.168.0.102)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
    
  <node 
    pkg="nao_interaction_examples" 
    type="track_face.py" 
    name="track_face" 
    args="--pip=$(arg nao_ip) --pport=$(arg nao_port)"
    output="screen"
  />

</launch>
